* {
    margin: 0;
    padding: 0;
}

.checker {
    background: red;
    height: 800px;
    padding: 0;
}

#my-img{
    width: 55%;
    height: 200px;
}

.container-image {
    width: 100%;
    background: gray;
    text-align: center;
}

.container-profile {
    background: #2C71B3;
    color: white;
}

.progress-father-color{
    background: #20405F !important;
}

.progress-child-color {
    background: white !important;
}

#name {
    color: #2C71B3;
}

.center {
    text-align: center;
}

.background-title {
    -webkit-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
    background: #2C71B3;
    color: white;
}

.align-right {
    text-align: right;
    font-size: 30px;
}

.blue {
    color: #2C71B3;
}

.title {
    color : #2C71B3;
}

#title-img {
    color: white;
    display: none;
}